RentACar/RentACar/Service References/RentACarWebService/RentACarWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddCar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:Arac" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Arac">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AracID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AracMarka" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AracModel" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Yil" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GerekenEhliyetYasi" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GunlukSinirKm" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AnlikKm" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Airbag" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="BagajHacmi" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KoltukSayisi" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AracTipi" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Klima" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="YakitTuru" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AracSinifi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VitesTuru" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Fiyat" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="AracDurumu" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Aciklama" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Image" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SirketID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddCarResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddAdress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:Adres" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Adres">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AdresID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AdresBilgileri" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddAdressResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:Kullanici" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Kullanici">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="KullaniciID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Ad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Soyad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TcNumarasi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Eposta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sifre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tel" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RoleID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AdresID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddCompany">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:Sirket" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Sirket">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SirketID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SirketAdi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SirketTel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sifre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AdresID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddCompanyResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteCar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="aracID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCarResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteRentACar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="kiralikAracID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="aracID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRentACarResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteRezervation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rezervasyonID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="aracID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRezervationResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetCar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="aracID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCarResult" type="tns:Arac" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCarInRentACar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="aracID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCarInRentACarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCarInRentACarResult" type="tns:KiralikArac" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="KiralikArac">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="KiralikAracID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AracID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KullaniciID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AracMarka" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AracModel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Image" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KiralanmaZamani" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="VerilisKm" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SonKilometre" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Ucret" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="KacGun" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AlisYeri" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VerisYeri" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRentACar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="kullaniciID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRentACarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRentACarResult" type="tns:ArrayOfKiralikArac" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfKiralikArac">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="KiralikArac" nillable="true" type="tns:KiralikArac" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRezervation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="kullaniciID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRezervationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRezervationResult" type="tns:ArrayOfRezervasyon" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRezervasyon">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Rezervasyon" nillable="true" type="tns:Rezervasyon" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Rezervasyon">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RezervasyonID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AracID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KullaniciID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AracMarka" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AracModel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Image" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AlisTarihi" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="VerisTarihi" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="AlisYeri" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VerisYeri" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRezervationID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rezervasyonID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRezervationIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRezervationIDResult" type="tns:Rezervasyon" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="kullaniciID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserResult" type="tns:Kullanici" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdressID">
        <s:complexType />
      </s:element>
      <s:element name="GetAdressIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetAdressIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAdressResult" type="tns:Adres" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompany">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompanyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCompanyResult" type="tns:Sirket" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:Arac" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCarResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:Kullanici" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateAdress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:Adres" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAdressResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateCompany">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:Sirket" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCompanyResponse">
        <s:complexType />
      </s:element>
      <s:element name="ListCompanyCar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sirketID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCompanyCarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListCompanyCarResult" type="tns:ArrayOfArac" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArac">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Arac" nillable="true" type="tns:Arac" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListCustomerCar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="kullaniciID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCustomerCarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListCustomerCarResult" type="tns:ArrayOfKiralikArac" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pickupLocation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="returnLocation" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListCarResult" type="tns:ArrayOfArac" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCarFilter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pickupLocation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="returnLocation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filter" type="tns:Filtre" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Filtre">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Marka" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Min" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Max" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AracTipi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AracSinifi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YakitTuru" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AracYili" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListCarFilterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListCarFilterResult" type="tns:ArrayOfArac" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCustomer">
        <s:complexType />
      </s:element>
      <s:element name="ListCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListCustomerResult" type="tns:ArrayOfKullanici" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfKullanici">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Kullanici" nillable="true" type="tns:Kullanici" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListCompany">
        <s:complexType />
      </s:element>
      <s:element name="ListCompanyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListCompanyResult" type="tns:ArrayOfSirket" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSirket">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Sirket" nillable="true" type="tns:Sirket" />
        </s:sequence>
      </s:complexType>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sifre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginCompany">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sifre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginCompanyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginCompanyResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RentACar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:KiralikArac" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RentACarResponse">
        <s:complexType />
      </s:element>
      <s:element name="Rezervation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:Rezervasyon" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RezervationResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddCarSoapIn">
    <wsdl:part name="parameters" element="tns:AddCar" />
  </wsdl:message>
  <wsdl:message name="AddCarSoapOut">
    <wsdl:part name="parameters" element="tns:AddCarResponse" />
  </wsdl:message>
  <wsdl:message name="AddAdressSoapIn">
    <wsdl:part name="parameters" element="tns:AddAdress" />
  </wsdl:message>
  <wsdl:message name="AddAdressSoapOut">
    <wsdl:part name="parameters" element="tns:AddAdressResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="AddCompanySoapIn">
    <wsdl:part name="parameters" element="tns:AddCompany" />
  </wsdl:message>
  <wsdl:message name="AddCompanySoapOut">
    <wsdl:part name="parameters" element="tns:AddCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCarSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCar" />
  </wsdl:message>
  <wsdl:message name="DeleteCarSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCarResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteRentACarSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteRentACar" />
  </wsdl:message>
  <wsdl:message name="DeleteRentACarSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteRentACarResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteRezervationSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteRezervation" />
  </wsdl:message>
  <wsdl:message name="DeleteRezervationSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteRezervationResponse" />
  </wsdl:message>
  <wsdl:message name="GetCarSoapIn">
    <wsdl:part name="parameters" element="tns:GetCar" />
  </wsdl:message>
  <wsdl:message name="GetCarSoapOut">
    <wsdl:part name="parameters" element="tns:GetCarResponse" />
  </wsdl:message>
  <wsdl:message name="GetCarInRentACarSoapIn">
    <wsdl:part name="parameters" element="tns:GetCarInRentACar" />
  </wsdl:message>
  <wsdl:message name="GetCarInRentACarSoapOut">
    <wsdl:part name="parameters" element="tns:GetCarInRentACarResponse" />
  </wsdl:message>
  <wsdl:message name="GetRentACarSoapIn">
    <wsdl:part name="parameters" element="tns:GetRentACar" />
  </wsdl:message>
  <wsdl:message name="GetRentACarSoapOut">
    <wsdl:part name="parameters" element="tns:GetRentACarResponse" />
  </wsdl:message>
  <wsdl:message name="GetRezervationSoapIn">
    <wsdl:part name="parameters" element="tns:GetRezervation" />
  </wsdl:message>
  <wsdl:message name="GetRezervationSoapOut">
    <wsdl:part name="parameters" element="tns:GetRezervationResponse" />
  </wsdl:message>
  <wsdl:message name="GetRezervationIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetRezervationID" />
  </wsdl:message>
  <wsdl:message name="GetRezervationIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetRezervationIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="GetUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetAdressIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetAdressID" />
  </wsdl:message>
  <wsdl:message name="GetAdressIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetAdressIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetAdressSoapIn">
    <wsdl:part name="parameters" element="tns:GetAdress" />
  </wsdl:message>
  <wsdl:message name="GetAdressSoapOut">
    <wsdl:part name="parameters" element="tns:GetAdressResponse" />
  </wsdl:message>
  <wsdl:message name="GetCompanySoapIn">
    <wsdl:part name="parameters" element="tns:GetCompany" />
  </wsdl:message>
  <wsdl:message name="GetCompanySoapOut">
    <wsdl:part name="parameters" element="tns:GetCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCarSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCar" />
  </wsdl:message>
  <wsdl:message name="UpdateCarSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCarResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAdressSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAdress" />
  </wsdl:message>
  <wsdl:message name="UpdateAdressSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAdressResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCompanySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCompany" />
  </wsdl:message>
  <wsdl:message name="UpdateCompanySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ListCompanyCarSoapIn">
    <wsdl:part name="parameters" element="tns:ListCompanyCar" />
  </wsdl:message>
  <wsdl:message name="ListCompanyCarSoapOut">
    <wsdl:part name="parameters" element="tns:ListCompanyCarResponse" />
  </wsdl:message>
  <wsdl:message name="ListCustomerCarSoapIn">
    <wsdl:part name="parameters" element="tns:ListCustomerCar" />
  </wsdl:message>
  <wsdl:message name="ListCustomerCarSoapOut">
    <wsdl:part name="parameters" element="tns:ListCustomerCarResponse" />
  </wsdl:message>
  <wsdl:message name="ListCarSoapIn">
    <wsdl:part name="parameters" element="tns:ListCar" />
  </wsdl:message>
  <wsdl:message name="ListCarSoapOut">
    <wsdl:part name="parameters" element="tns:ListCarResponse" />
  </wsdl:message>
  <wsdl:message name="ListCarFilterSoapIn">
    <wsdl:part name="parameters" element="tns:ListCarFilter" />
  </wsdl:message>
  <wsdl:message name="ListCarFilterSoapOut">
    <wsdl:part name="parameters" element="tns:ListCarFilterResponse" />
  </wsdl:message>
  <wsdl:message name="ListCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:ListCustomer" />
  </wsdl:message>
  <wsdl:message name="ListCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:ListCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ListCompanySoapIn">
    <wsdl:part name="parameters" element="tns:ListCompany" />
  </wsdl:message>
  <wsdl:message name="ListCompanySoapOut">
    <wsdl:part name="parameters" element="tns:ListCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LoginCompanySoapIn">
    <wsdl:part name="parameters" element="tns:LoginCompany" />
  </wsdl:message>
  <wsdl:message name="LoginCompanySoapOut">
    <wsdl:part name="parameters" element="tns:LoginCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="RentACarSoapIn">
    <wsdl:part name="parameters" element="tns:RentACar" />
  </wsdl:message>
  <wsdl:message name="RentACarSoapOut">
    <wsdl:part name="parameters" element="tns:RentACarResponse" />
  </wsdl:message>
  <wsdl:message name="RezervationSoapIn">
    <wsdl:part name="parameters" element="tns:Rezervation" />
  </wsdl:message>
  <wsdl:message name="RezervationSoapOut">
    <wsdl:part name="parameters" element="tns:RezervationResponse" />
  </wsdl:message>
  <wsdl:portType name="RentACarWebServiceSoap">
    <wsdl:operation name="AddCar">
      <wsdl:input message="tns:AddCarSoapIn" />
      <wsdl:output message="tns:AddCarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAdress">
      <wsdl:input message="tns:AddAdressSoapIn" />
      <wsdl:output message="tns:AddAdressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input message="tns:AddUserSoapIn" />
      <wsdl:output message="tns:AddUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCompany">
      <wsdl:input message="tns:AddCompanySoapIn" />
      <wsdl:output message="tns:AddCompanySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCar">
      <wsdl:input message="tns:DeleteCarSoapIn" />
      <wsdl:output message="tns:DeleteCarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRentACar">
      <wsdl:input message="tns:DeleteRentACarSoapIn" />
      <wsdl:output message="tns:DeleteRentACarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRezervation">
      <wsdl:input message="tns:DeleteRezervationSoapIn" />
      <wsdl:output message="tns:DeleteRezervationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCar">
      <wsdl:input message="tns:GetCarSoapIn" />
      <wsdl:output message="tns:GetCarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCarInRentACar">
      <wsdl:input message="tns:GetCarInRentACarSoapIn" />
      <wsdl:output message="tns:GetCarInRentACarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRentACar">
      <wsdl:input message="tns:GetRentACarSoapIn" />
      <wsdl:output message="tns:GetRentACarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRezervation">
      <wsdl:input message="tns:GetRezervationSoapIn" />
      <wsdl:output message="tns:GetRezervationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRezervationID">
      <wsdl:input message="tns:GetRezervationIDSoapIn" />
      <wsdl:output message="tns:GetRezervationIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input message="tns:GetUserSoapIn" />
      <wsdl:output message="tns:GetUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAdressID">
      <wsdl:input message="tns:GetAdressIDSoapIn" />
      <wsdl:output message="tns:GetAdressIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAdress">
      <wsdl:input message="tns:GetAdressSoapIn" />
      <wsdl:output message="tns:GetAdressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCompany">
      <wsdl:input message="tns:GetCompanySoapIn" />
      <wsdl:output message="tns:GetCompanySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCar">
      <wsdl:input message="tns:UpdateCarSoapIn" />
      <wsdl:output message="tns:UpdateCarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input message="tns:UpdateUserSoapIn" />
      <wsdl:output message="tns:UpdateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAdress">
      <wsdl:input message="tns:UpdateAdressSoapIn" />
      <wsdl:output message="tns:UpdateAdressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCompany">
      <wsdl:input message="tns:UpdateCompanySoapIn" />
      <wsdl:output message="tns:UpdateCompanySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListCompanyCar">
      <wsdl:input message="tns:ListCompanyCarSoapIn" />
      <wsdl:output message="tns:ListCompanyCarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListCustomerCar">
      <wsdl:input message="tns:ListCustomerCarSoapIn" />
      <wsdl:output message="tns:ListCustomerCarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListCar">
      <wsdl:input message="tns:ListCarSoapIn" />
      <wsdl:output message="tns:ListCarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListCarFilter">
      <wsdl:input message="tns:ListCarFilterSoapIn" />
      <wsdl:output message="tns:ListCarFilterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListCustomer">
      <wsdl:input message="tns:ListCustomerSoapIn" />
      <wsdl:output message="tns:ListCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListCompany">
      <wsdl:input message="tns:ListCompanySoapIn" />
      <wsdl:output message="tns:ListCompanySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginCompany">
      <wsdl:input message="tns:LoginCompanySoapIn" />
      <wsdl:output message="tns:LoginCompanySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RentACar">
      <wsdl:input message="tns:RentACarSoapIn" />
      <wsdl:output message="tns:RentACarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Rezervation">
      <wsdl:input message="tns:RezervationSoapIn" />
      <wsdl:output message="tns:RezervationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RentACarWebServiceSoap" type="tns:RentACarWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCar">
      <soap:operation soapAction="http://tempuri.org/AddCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAdress">
      <soap:operation soapAction="http://tempuri.org/AddAdress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCompany">
      <soap:operation soapAction="http://tempuri.org/AddCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCar">
      <soap:operation soapAction="http://tempuri.org/DeleteCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRentACar">
      <soap:operation soapAction="http://tempuri.org/DeleteRentACar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRezervation">
      <soap:operation soapAction="http://tempuri.org/DeleteRezervation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCar">
      <soap:operation soapAction="http://tempuri.org/GetCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarInRentACar">
      <soap:operation soapAction="http://tempuri.org/GetCarInRentACar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRentACar">
      <soap:operation soapAction="http://tempuri.org/GetRentACar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRezervation">
      <soap:operation soapAction="http://tempuri.org/GetRezervation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRezervationID">
      <soap:operation soapAction="http://tempuri.org/GetRezervationID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdressID">
      <soap:operation soapAction="http://tempuri.org/GetAdressID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdress">
      <soap:operation soapAction="http://tempuri.org/GetAdress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompany">
      <soap:operation soapAction="http://tempuri.org/GetCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCar">
      <soap:operation soapAction="http://tempuri.org/UpdateCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAdress">
      <soap:operation soapAction="http://tempuri.org/UpdateAdress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCompany">
      <soap:operation soapAction="http://tempuri.org/UpdateCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCompanyCar">
      <soap:operation soapAction="http://tempuri.org/ListCompanyCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCustomerCar">
      <soap:operation soapAction="http://tempuri.org/ListCustomerCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCar">
      <soap:operation soapAction="http://tempuri.org/ListCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCarFilter">
      <soap:operation soapAction="http://tempuri.org/ListCarFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCustomer">
      <soap:operation soapAction="http://tempuri.org/ListCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCompany">
      <soap:operation soapAction="http://tempuri.org/ListCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginCompany">
      <soap:operation soapAction="http://tempuri.org/LoginCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RentACar">
      <soap:operation soapAction="http://tempuri.org/RentACar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rezervation">
      <soap:operation soapAction="http://tempuri.org/Rezervation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RentACarWebServiceSoap12" type="tns:RentACarWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCar">
      <soap12:operation soapAction="http://tempuri.org/AddCar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAdress">
      <soap12:operation soapAction="http://tempuri.org/AddAdress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://tempuri.org/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCompany">
      <soap12:operation soapAction="http://tempuri.org/AddCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCar">
      <soap12:operation soapAction="http://tempuri.org/DeleteCar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRentACar">
      <soap12:operation soapAction="http://tempuri.org/DeleteRentACar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRezervation">
      <soap12:operation soapAction="http://tempuri.org/DeleteRezervation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCar">
      <soap12:operation soapAction="http://tempuri.org/GetCar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarInRentACar">
      <soap12:operation soapAction="http://tempuri.org/GetCarInRentACar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRentACar">
      <soap12:operation soapAction="http://tempuri.org/GetRentACar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRezervation">
      <soap12:operation soapAction="http://tempuri.org/GetRezervation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRezervationID">
      <soap12:operation soapAction="http://tempuri.org/GetRezervationID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://tempuri.org/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdressID">
      <soap12:operation soapAction="http://tempuri.org/GetAdressID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdress">
      <soap12:operation soapAction="http://tempuri.org/GetAdress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompany">
      <soap12:operation soapAction="http://tempuri.org/GetCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCar">
      <soap12:operation soapAction="http://tempuri.org/UpdateCar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap12:operation soapAction="http://tempuri.org/UpdateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAdress">
      <soap12:operation soapAction="http://tempuri.org/UpdateAdress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCompany">
      <soap12:operation soapAction="http://tempuri.org/UpdateCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCompanyCar">
      <soap12:operation soapAction="http://tempuri.org/ListCompanyCar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCustomerCar">
      <soap12:operation soapAction="http://tempuri.org/ListCustomerCar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCar">
      <soap12:operation soapAction="http://tempuri.org/ListCar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCarFilter">
      <soap12:operation soapAction="http://tempuri.org/ListCarFilter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCustomer">
      <soap12:operation soapAction="http://tempuri.org/ListCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCompany">
      <soap12:operation soapAction="http://tempuri.org/ListCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginCompany">
      <soap12:operation soapAction="http://tempuri.org/LoginCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RentACar">
      <soap12:operation soapAction="http://tempuri.org/RentACar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rezervation">
      <soap12:operation soapAction="http://tempuri.org/Rezervation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RentACarWebService">
    <wsdl:port name="RentACarWebServiceSoap" binding="tns:RentACarWebServiceSoap">
      <soap:address location="http://localhost:61123/RentACarWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="RentACarWebServiceSoap12" binding="tns:RentACarWebServiceSoap12">
      <soap12:address location="http://localhost:61123/RentACarWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>